services:
  pdv-backend:
    container_name: pdv-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    env_file:
      - .env
    volumes:
      - sqlite_data:/app/prisma
    restart: always

volumes:
  sqlite_data:
