services:
  backoffice-web:
    container_name: backoffice-web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    restart: always
